/* ==========================================================================
   Footer
   ========================================================================== */

.footer-container {
	@include margin-leader(2);
	@include padding-leader(2);
	@include padding-trailer(3);
	background-color: $blue;

	.wrapper {
		@include adjust-font-size-to(14px);
		color: $white;
		font-family: $font-sans;

		a {
			color: $white;
			font-weight: 300;
			border-bottom: 1px dotted;

			&:hover {
				border-bottom: none;
			}
		}
	}
}